{% extends 'partials/base.html.twig' %}
{% block content %}
<h1 class="alert alert-title"> {{ page.title }} </h1>
{% include 'partials/categories.html.twig' %}
{{ page.content|raw }}
{% include 'partials/categories.html.twig' %}

{% if page.header.pdate %}
{#<p class="alert alert-title"> نوشته شده در {{page.header.datePublished|hijri}} </p>#}
<p class="alert alert-title"> نوشته شده در {{page.header.pdate|e}} </p>
{% endif %}

{# {% include 'partials/readingtime.html.twig' %} #}
{% endblock %}
