{% extends 'partials/base.html.twig' %}
{% block content %}

<h1 class="alert alert-title"> {{ page.title }} </h1>
<hr class="mima">

{% for post in page.collection.order('order', 'date', 'desc').slice(0, 1000)%}
<p class="blog-list">
<a href={{post.url}}> {{ post.title|truncate(400)|raw }} </a>
</p>
{% endfor %}

{% endblock %}