
/* poem */
.p {
    margin: auto;
    display: table;
    border: 0;
}

.b {
    display: table-row;
    margin-left: auto;
    margin-right: auto;
}

/* prose */
.pr {
    display: table;
    text-align: justify;
    border: 0;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.par {
    display: table-row;
}

/* headnote and footnote */
.note {
    text-align: center;
    font-weight: bold;
}

/* band beyt - Space */
.bm1 {
    display: block;
    width: auto;
    text-align: center;
}

.bm2 {
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 1.5em;
}
.bm3 {
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 1.5em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#banner {
    margin: -20px 0px 10px;
}

    #banner iframe {
        height: 115px;
        width: 100%;
    }

#banner-img {
    background-image: url(./img/banner-large.jpg);
    height: 90px;
    width: 728px;
} 

@media (min-width: 980px) {
    #header {
        padding-bottom: 0px;
        padding-top: 20px;
        margin-top: 40px;
    }

    #footer {
        padding-bottom: 0px;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    #home {
        margin-top: 60px;
    }

    .m1 {
        display: table-cell;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-left: 2em;
    }

    .m2 {
        display: table-cell;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-right: 2em;
        margin-bottom: 0px;
    }
     .m3 {
        display: table-cell;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-right: 4em;
        margin-bottom: 0px;
    }
}

@media (max-width: 979px) {
    #header {
        padding-bottom: 0px;
        padding-top: 20px;
        margin-top: -20px;
    }

    #footer {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    #home {
    }

    .m1 {
        display: block;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-left: 14em;
    }

    .m2 {
        display: block;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-right: 14em;
        margin-bottom: 0px;
    }

    #banner {
        margin: -20px 0px 10px -5px;
    }

    #banner-img {
        background-image: url(./img/banner-large.jpg);
        height: 90px;
        width: 728px;
    } 
}

@media (min-width: 480px) and (max-width: 767px) {
    .m1 {
        display: block;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-left: 7em;
    }

    .m2 {
        display: block;
        width: auto;
        text-align: justify;
        text-align-last: justify;
        padding-right: 7em;
        margin-bottom: 0px;
    }

    #banner {
        margin: -20px 0px 10px 20px;
    }

        #banner iframe {
            height: 85px;
            width: 100%;
        }

    #banner-img {
        background-image: url(./img/banner-small.jpg);
        height: 61px;
        width: 235px;
    } 

}

@media (max-width: 480px) {
    .m1 {
        display: block;
        width: auto;
        text-align: center;
        text-align-last: initial;
        padding-left: 0px;
    }

    .m2 {
        display: block;
        width: auto;
        text-align: center;
        text-align-last: initial;
        padding-right: 0px;
        margin-bottom: 0.5em;
    }

    .hero-unit {
        padding: 20px;
    }

    #banner {
        margin: -20px 0px 10px;
    }

        #banner iframe {
            height: 85px;
            width: 100%;
        }

    #banner-img {
        background-image: url(./img/banner-small.jpg);
        height: 61px;
        width: 235px;
    } 
}


