*{margin:0;padding:0}
.section,section{padding:30px}.section :last-child,section :last-child{margin-bottom:0}.section-primary{background:#ffca28}.section-secondary{background:#f5f5f5}.section-tertiary{background:#fff}
.align-left{text-align:left}.align-center{text-align:center}.align-right{text-align:right}
.alert{margin:15px 0;padding:15px;border-radius:5px}
.footer,footer{padding:30px;background:#757575}
pre{display:block;margin:15px 0;padding:10px 15px;border-left:4px solid #4caf50;background:#f5f5f5;font-family:Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;font-size:15px;color:#212121;white-space:normal;overflow-x:auto;direction:ltr;}
code{background:#f5f5f5;color:#212121;font-family:Monaco, 'Courier New', Courier, monospace;white-space:pre}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
       url('../fonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mikhak';
  src: url('../fonts/Mikhak[DSTY,KSHD,wght].woff2') format('woff2 supports variations'),
       url('../fonts/Mikhak[DSTY,KSHD,wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lalezar';
  src: url('../fonts/Lalezar-Regular.woff2') format('woff2 supports variations'),
       url('../fonts/Lalezar-Regular.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
/*https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25*/
--brand-color:              #bc6c25;
--background-color:   #fefae0;
--footer-color:             #dda15e;
--text-color:                 #283618;
--title-color:                 #606c38;


/*https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4*/
--brand-color:              #4a4e69;
--background-color:   #f2e9e4;
--footer-color:             #9a8c98;
--text-color:                 #22223b;
--title-color:                 #c9ada7;
}



body {
  font-family: "Vazir";
  font-size: 17px;
  line-height: 1.8;
  font-weight: 300;
  color: var(--text-color); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lalezar";
  font-weight: 900;
  color: var(--text-color);
  margin: 0 0 10px;
  text-align: center;
  }
 
 navv{
   font-family: "Mikhak";
  font-weight: 400;
  font-size: 38px;
  color: var(--background-color);
 }

 button{
  font-family: "Vazir";
   font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
} 

.button-brand{background-color:var(--brand-color);color:#fff;border-color:var(--brand-color);}
.button-brand-outlined{background-color:#fff;color:var(--brand-color);border-color:var(--brand-color);}
.button-brand-text{color:var(--brand-color);border-color:transparent}


.button-background{background-color:var(--background-color);color:#000;border-color:var(--background-color);}
.button-background-outlined{background-color:#000;color:var(--background-color);border-color:var(--background-color);}
.button-background-text{color:var(--background-color);border-color:transparent}

.button-footer{background-color:var(--footer-color);color:#000;border-color:var(--footer-color);}
.button-footer-outlined{background-color:#000;color:var(--footer-color);border-color:var(--footer-color);}
.button-footer-text{color:var(--footer-color);border-color:transparent}
  p {
  text-indent: 0px;
  margin-top: 15px;
  margin-bottom: 5px; }
  p.magnify {
    font-size: 17.6px;
    line-height: 1.8; }
    strong, b {
  font-weight: 600; }
  
footer {
  background: #fffd61; }

.footer-text p {
  color: #000000; }

footer .copyright {
  color: #000000; }

blockquote {
  display: block;
  margin: 0px 35px 20px 0px;
  padding: 0px;
  font-family: "Vazir";
  font-size: 16px;
  font-weight: 600;
  border-right: 0px solid var(--brand-color);
  border-left: 0px solid var(--brand-color);
  background: #ffffff; }

blockquote :last-child {
    margin-bottom: 0; }
    
a {
  text-decoration: none;
  color: #1B8957;
  color: var(--brand-color);
  font-weight: 500;
  transition: opacity .1s ease-out; }
  a:focus, a:hover {
    opacity: 0.75; }
  a:active {
    opacity: 1; }

hr.mima {
  border-style: none; }

hr.mima:after {
  content: "&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863\f863";
  width: 100%;
  overflow: hidden;
  display: block;
  font-size: 20px;
  white-space: nowrap; }

.breadcrumbs-alt li {
  padding: 10px 15px;
  background: #eeeeee;
}

.breadcrumbs-alt li::after {
  padding-right: 30px;
  content: '>>';
}

.alert{margin:15px 0;padding-bottom:5px;padding-top:5px;border-radius:5px}

.section-primary{background: var(--brand-color);}
.section-secondary{background: var(--background-color);}
.section-tertiary{background: white;}
.footer,footer{background: var(--footer-color);}
.alert-title {background: var(--title-color);color:black}
.alert-background {background: var(--background-color);color:black}
.alert-brand {background: var(--brand-color);color:white}
.alert-footer {background: var(--footer-color);color:black}

.section,section{padding-bottom:0px;padding-top:10px}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto
}

.container-small{
	max-width:568px;
	margin-left:auto;margin-right:auto;padding:30px
}
.container-small-white{
	max-width:568px;
	background: white;
	margin-left:auto;margin-right:auto;padding:30px
}

.section, section{
	padding-top: 0px;
}

ul {
  list-style-position: inside;
}


ol {
  list-style-position: inside;
  list-style-type: upper-roman;
}


/* Progress bar */
#progress-bar {
  --scrollAmount: 0%;
/*  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  width: var(--scrollAmount);
    background:var(--brand-color);
  /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
  width: 100%; */
  height: 5px;
  position: fixed;
  top: 0;
}