<div class="footer">
{#
          <p class="h3 align-center" style="font-family: 'Mikhak'; font-weight: 500;"> {{ site.fa_title|e('html') }} </p>
<p style="font-family: 'Mikhak'; font-weight: 500;">
{{ site.full_description }}
<p>
#}

<p class="align-center footer-text" > Made by Me. </p>

{% include 'partials/icons.html.twig' %}

{% block javascripts %}
    {%  do assets.addJs('theme://js/lazysizes.min.js') %}
{% endblock %}

</div>