<div class="nav">
<a href="/categories" aria-label="A link to catagories page" > <svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 448 448"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#f2e9e4" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></a>

<a href="/"><navv> {{ site.title|e('html') }}</navv></a>

<a href="/author/mehran_shabani">  <img src="/user/images/mehran.webp" alt="مهران شعبانی" width="40" height="42" class="img-nav" /img>  </a>

</div>
