<section class="section-primary key-points align-center" >
<div style="width:100%; ">
<a href="/"><navv> {{ site.title|e('html') }} </navv></a>
</div>
<div style="position:absolute; top:0">
<a href="/categories"> <navv> # </navv> </a>
</div>
</section>
