<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% include 'partials/head.html.twig' %}
 <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>
<body>
<div class="main">
{% if page.header.progress_bar  %}
<div id="progress-bar"></div>
{% endif %}

<div class="base">
{% include 'partials/nav.html.twig' %}

{# {% include 'partials/breadcrumbs.html.twig' %} #}

<div class="content">
{% block content %}{% endblock %}
</div>
{% include 'partials/footer.html.twig' %}
</div>


</div>


<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>

{% block javascripts %}
        {%  do assets.addJs('theme://js/polyfill.min.js' , { group: 'mathjax' }) %}
        {%  do assets.addJs('theme://js/tex-mml-chtml.js' , { group: 'mathjax' }) %}
        {%  do assets.addJs('theme://js/progress-bar.js' , { group: 'bottom' }) %}
	{%  do assets.addJs('theme://js/owa.js?102' , { group: 'bottom' }) %}
{% endblock %}

{% block bottom %}
        {{ assets.js('bottom')|raw }}
{% endblock %}
{% if page.header.mathjax  %}
{% block mathjax %}
        {{ assets.js('mathjax')|raw }}
{% endblock %}
{% endif %}

</body>
</html>
