<div class="footer">
{#
          <p class="h3 align-center" style="font-family: 'Mikhak'; font-weight: 500;"> {{ site.fa_title|e('html') }} </p>
<p style="font-family: 'Mikhak'; font-weight: 500;">
{{ site.full_description }}
<p>
#}
{% include 'partials/icons.html.twig' %}
<p class="align-center footer-text" > Made by Me & Powered by <a href="https://getgrav.org/">Grav</a>. </p>




{% block javascripts %}
    {%  do assets.addJs('theme://js/lazysizes.min.js') %}
{% endblock %}

<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://sibiya.ir/owa/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', 'b30c921408fbbeaeb8902391a2291fed']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/dist/owa.tracker.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<!-- End Open Web Analytics Code -->
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//mehran.blog/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

        

</div>
{#
<p class="align-center footer-text" > Powered by <a href="https://getgrav.org/">Grav CMS</a>. </p>
#}