<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="A Lunatic" />
<meta name="copyright" content="" />
<link rel="icon" href="/assets/img/me.png" />
<link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
<link rel="stylesheet" href="/assets/css/main.css">

<!--
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/poem.css">
<link rel="stylesheet" href="/assets/webfonts/fontawesome-free-5.15.2-web/css/all.css?ver=103" >
-->
<title> Sibiyā </title>
</head>
